# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# clion
.idea/ 
cmake-build-*/

# exporters 
GettingStarted.html

# mbed build system
mbed-os-experimental-ble-services/
mbed-os-ble-utils/
mbed-os/
mbed_settings.py
mbed_config.h
*.pyc
BUILD/
cmake_build/
.mbedls*

# custom
Notes.txt
BLE_GattServer_CharacteristicUpdates_ArrChar/.mbed
BLE_GattServer_CharacteristicUpdates/.mbed
BLE_GattClient_CharacteristicWrite/.mbed
BLE_GattClient_CharacteristicUpdates/.mbed
BLE_GattServer_CharacteristicUpdates_ArrChar/CMakeLists.txt
BLE_GattServer_CharacteristicUpdates_ArrChar/mbed_app.json
BLE_GattServer_CharacteristicWrite/.mbed
GattServerAndGattClient/.mbed
GattServerAndGattClient/CMakeLists.txt
GattServerAndGattClient/mbed_app.json
